services:
  db:
    image: postgres:18.2
    container_name: theapp_db
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: theapp_db
    ports:
      - 5432:5432
